@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");


@theme {
  --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark-200: #475467;
  --color-light-blue-100: #c1d3f81a;
  --color-light-blue-200: #a7bff14d;
  --color-badge-green: #d5faf1;
  --color-badge-red: #f9e3e2;
  --color-badge-yellow: #fceed8;
  --color-badge-green-text: #254d4a;
  --color-badge-red-text: #752522;
  --color-badge-yellow-text: #73321b;
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5];
}

html,
body {
  @apply bg-white;
  font-family: var(--font-sans);
}

main {
  @apply min-h-screen pt-10;
}

h1 {
  @apply text-5xl md:text-6xl text-gradient leading-tight tracking-[-2px] font-semibold;
}

h2 {
  @apply text-2xl md:text-3xl text-dark-200;
}

label {
  @apply text-dark-200;
}
input, textarea {
  @apply w-full p-4 rounded-2xl focus:outline-none bg-white;
  box-shadow: inset 0 0 12px 0 rgba(36, 99, 235, 0.2);
}

form {
  @apply flex flex-col items-start gap-8 w-full;
}

@layer components {
  .gradient-border {
    @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200 p-4 rounded-2xl;
  }
  .primary-button {
    @apply text-white rounded-full px-4 py-2 cursor-pointer w-full transition-all;
    background: linear-gradient(to bottom, #8e98ff, #606beb);
  }
  .primary-button:hover {
    background: linear-gradient(to bottom, #717dff, #4957eb);
  }
  .resume-nav {
    @apply flex flex-row justify-between items-center p-4 border-b border-gray-200;
  }
  .resume-summary {
    @apply flex flex-row items-center justify-center p-2 md:p-4 gap-4;
  }
  .resume-summary .category {
    @apply flex flex-row gap-2 items-center bg-gray-50 rounded-2xl p-4 w-full justify-between;
  }
  .back-button {
    @apply flex flex-row items-center gap-2 border border-gray-200 rounded-lg p-2 shadow-sm;
  }
  .auth-button {
    @apply rounded-full py-4 px-8 cursor-pointer w-[600px] max-md:w-full text-3xl font-semibold text-white transition-all;
    background: linear-gradient(to bottom, #8e98ff, #606beb);
  }
   .auth-button:hover {
    background: linear-gradient(to bottom, #717dff, #4957eb);
  }
  .main-section {
    @apply flex flex-col items-center gap-8 pt-12 mx-auto px-4 sm:px-6 lg:px-8 pb-5;
  }
  .page-heading {
    @apply flex flex-col items-center gap-8 max-w-4xl text-center;
  }
  .resumes-section {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 items-start w-full max-w-[1850px] justify-items-center;
  }
  .resume-card {
    @apply flex flex-col gap-8 h-auto md:h-[560px] w-full max-w-[490px] bg-white rounded-2xl p-4 shadow-sm hover:shadow-xl transition-shadow;
  }
  .resume-card-header {
    @apply flex flex-row gap-2 justify-between min-h-[110px] items-center;
  }
  .feedback-section {
    @apply flex flex-col gap-8 w-full lg:w-1/2 px-4 md:px-8 py-6;
  }
  .navbar {
    @apply flex flex-row justify-between items-center bg-white rounded-full p-4 w-full px-6 md:px-10 max-w-[1200px] mx-auto;
  }
  .form-div {
    @apply flex flex-col gap-2 w-full items-start;
  }
  .uploader-selected-file {
    @apply flex items-center justify-between p-3 bg-gray-50 rounded-2xl;
  }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}